table, tr, td {
	border: solid 1px;
	width : 1000px;
	height:100px;
	text-align: center;
}

td >i{
	font-size: 90px;
}

.fa-female{
	color : red;
}

#table-header{
	font-size: 100px;
	text-align: center;
}