@(message: String)

@main("Welcome to Play") {
	    
<div ng-controller="GameController">    
    <div id="table-header">
    	Tic Tac Toe
    </div>    
    <table align="center" ng-init="b1='b1'; b2='b2'; b3='b3'; b4='b4'; b5='b5'; b6='b6'; b7='b7'; b8='b8'; b9='b9'">
    	<tr>
    		<td ng-model="b1" ng-click="mark(b1)"><i class="b1Class"></i></td>
    		<td ng-model="b2" ng-click="mark(b2)"><i class="b2Class"></i></td>
    		<td ng-model="b3" ng-click="mark(b3)"><i class="b3Class"></i></td>
    	</tr>
    	<tr>
    		<td ng-model="b4" ng-click="mark(b4)"><i class="b4Class"></i></td>
    		<td ng-model="b5" ng-click="mark(b5)"><i class="b5Class"></i></td>
    		<td ng-model="b6" ng-click="mark(b6)"><i class="b6Class"></i></td>
    	</tr>
    	<tr>
    		<td ng-model="b7" ng-click="mark(b7)"><i class="b7Class"></i></td>
    		<td ng-model="b8" ng-click="mark(b8)"><i class="b8Class"></i></td>
    		<td ng-model="b9" ng-click="mark(b9)"><i class="b9Class"></i></td>
    	</tr>
     </table>     
</div>
}
